* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    body {
        max-width: 100%;
        background-color: #f0f5f5;
        font-family: 'Work Sans', sans-serif;
        color: #1a1a10;
        font-size: 16px;
        min-height: 100vh;
        overflow-x: hidden;



        .header {
            width: 100%;
            position: fixed;
            top: 0%;
            left: 0%;
            z-index: 100;
            .header-container {
                display: flex;
                width: 60%;
                justify-content: space-between;
                margin: 30px auto 0px auto;
                align-items: center;

                .link-container {
                    .link {
                        color: #ff332f;
                        font-size: 1.125rem;
                        line-height: 1px;
                        font-weight: 800;
                        text-align: right;
                        text-decoration: none;
                    }
                    .link:hover {
                        color: rgba(255, 51, 47, 0.8);
                    }
                }
                @media only screen and (max-width: 768px) {
                    width: 95%;
                }
                @media only screen and (max-width: 400px) {
                    width: 85%;
                }
            }

        }
        #hero {
            width: 100%;
            min-height: 80vh;
            display: flex;
            align-items: center;
            
            .txt {
                width: 66.66%;
                margin: 0px auto;
                font-family: 'Space Mono', sans-serif;
                font-size: 5.5vh;
                line-height: 1em;
                font-weight: 400;
            }
        }
        .wave-purple {
            position: relative;
            background: url("https://uploads-ssl.webflow.com/5b7747d5976c9e858e07dc2e/5b7b0189285dec00613f5c9c_shape-wave-purple.svg") no-repeat;
            background-size: contain;
            background-position: 50% 100%;
            height: 11vw;
            width: 100%;
            margin-bottom: -1px;
        }
        .zigzag-purple {
            position: relative;
            background: url("https://uploads-ssl.webflow.com/5b7747d5976c9e858e07dc2e/5b7b2927e9f2d5b93056490e_shape-angles-purple.svg") no-repeat;
            background-size: contain;
            background-position: 50% 100%;
            height: 11vw;
            width: 100%;
            margin-top: -3px;
        }
        .experience {
            width: 100%;
            min-height: 100vh;
            background-color: #724bc6;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-x: hidden;

            .dashed-circle {
                width: 30vw;
                height: 30vw;
                position: absolute;
                left: 10%;
                top: 20%;
                z-index: 1;
                
            }
            .top-txt-container {
                position: relative;
                z-index: 2;
                width: 100%;
                top: 11%;
                padding-right: 5%;

                .top-txt {
                    margin: 0px auto;
                    padding: 15px 10px;
                    width: 30vw;
                    font-family: 'Space Mono', sans-serif;
                    color: #f0f5f5;
                    font-size: 2.565625rem;
                    line-height: 1.125em;
                    font-weight: 400;  
                    background-color: #724bc6;
                    
                }
            }
            .bot-txt-container {
                position: absolute;
                z-index: 2;
                width: 100%;
                bottom: 10%;
                padding-left: 20%;
                .bot-txt {
                    padding: 15px 10px;
                    margin: 0px auto;
                    width: 30vw;
                    background-color: #724bc6;
                    color: #f0f5f5;
                    font-size: 1.801875rem;
                    font-weight: 400;
                    line-height: 30px;
                    
                }
            }
            

            .shape-right {
                height: 100%;
                position: absolute;
                right: 0%;
            }
            @media only screen and (max-width: 768px){
                min-height: 130vh;
                padding-left: 10px;
                .dashed-circle {
                    width: 90vw;
                    height: 90vw;
                    left: 15%;
                    top: 25%;
                }
                .top-txt-container {
                    padding: 0px;
                    
                    .top-txt {
                        margin-top: 30%;
                        width: 70%;
                        padding: 0 auto;
                        font-size: 1.801875rem;
                        line-height: 1.25em;
                    }
                }
                .bot-txt-container {
                    padding-left: 0px;
                    
                    .bot-txt {
                        margin-bottom: 100px;
                        width: 70%;
                        padding: 0 auto;
                        font-size: 1.25rem;
                    }
                }
                .shape-right {
                    display: none;
                }
            }
            @media only screen and (max-width: 400px){
                .dashed-circle {
                    display: none;
                }
            }
        }
        .play {
            width: 100%;
            position: relative;
            

            .container {
                width: 100%;
                padding: 100px 200px;
                position: relative;
                min-height: 100vh;
                

                .txt1 {
                    width: 50%;
                    margin-left: 8.3333333%;
                    font-family: 'Space Mono', sans-serif;
                    font-size: 2.565625rem;
                    line-height: 1.125em;
                    font-weight: 400;
                }
                .shape-play {
                    width: 235px;
                    height: 270px;
                    position: absolute;
                    left: 70%;
                    bottom: 80%;
                    z-index: 1;
                }
                .txt2 {
                    width: 33%;
                    margin-top: 3rem;
                    margin-left: 8.3333333%;
                    font-size: 1.801875rem;
                    line-height: 1.125em;
                    font-weight: 500;
                }
                @media only screen and (max-width: 768px) {
                    padding: 100px 0px;
                    min-height: 70vh;
                    .shape-play {
                        width: 120px;
                        height: 140px;
                    }
                    .txt1 {
                        font-size: 1.801875rem;
                    }
                    .txt2 {
                        font-size: 1.25rem;
                        padding: 50px auto;
                        width: 100%;
                        
                    }
                }
                @media only screen and (max-width: 400px){
                    .shape-play {
                        display: none;
                    }
                    .txt1 {
                        width: 80%;
                        font-size: 1.3rem;
                    }
                    .txt2 {
                        font-size: 1.1rem;
                        width: 90%;
                        padding: 50px 0px;
                    }
                }
            }          
        }
        .third-sec {
            width: 100%;
            min-height: 80vh;
            background-color: #724bc6;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 100px 0px;
            

            .dashed-circle {
                width: 350px;
                height: 350px;
                position: absolute;
                left: 20%;
                top: 10%;
                z-index: 1;
                
            }
            .txt-container {
                position: relative;
                z-index: 2;
                width: 100%;
                top: 15%;
                padding-left: 28%;

                .txt {
                    margin: 0px auto;
                    padding: 15px 10px;
                    width: 40vw;
                    font-family: 'Space Mono', sans-serif;
                    color: #f0f5f5;
                    font-size: 2.565625rem;
                    line-height: 1.125em;
                    font-weight: 400;  
                    background-color: #724bc6;
                    
                }
            }
            
            @media only screen and (max-width: 768px){
                min-height: 100vh;
                padding-left: 10px;
                .dashed-circle {
                    width: 400px;
                    height: 400px;
                    left: 15%;
                    top: 25%;
                }
                .txt-container {
                    padding: 0px;
                    .txt {
                        padding: 0px;
                        width: 80%;
                        padding: 0 auto;
                        font-size: 1.801875rem;
                        line-height: 1.25em;
                    }
                }
            }
            @media only screen and (max-width: 500px){
                overflow-x: hidden;
                // .dashed-circle {
                //     display: none;
                // }
            }
        }
        .triangle-container {
            min-height: 320px;
            width: 100%;
            background-color: #724bc6;
            position: relative;

            img {
                position: absolute;
                bottom: 0%;
            }
            @media only screen and (max-width: 500px) {
                min-height: 200px;
            }
        }
        .how {
            width: 100%;
            min-height: 80vh;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #1a1a10;
            margin-top: -2px;

            .btn-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                padding-top: 40px;

                .btn {
                    display: flex;
                    align-items: center;
                    opacity: 0;
                    

                    img {
                        width: 80px;
                        height: 80px;
                    }
                    h3 {
                        margin: 0px 20px;
                        font-family: 'Work Sans', sans-serif;
                        color: #f0f5f5;
                        font-size: 2.5rem;
                        font-weight: 400;
                    }
                }
                .btn-bot {
                    flex-direction: row-reverse;
                }
                .anime {
                    position: relative;
                    animation: anime 1s ease-in-out forwards;
                }
                @keyframes anime {
                    from {
                        left: -200px;
                        opacity: 0;
                    }
                    to {
                        left: 0%;
                        opacity: 1;
                    }
                }
            }
            .container-top {
                width: 75%;
            }
            .container-bot {
                width: 95%;
                margin-bottom: 30px;
            }
            .circle-container {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                h3 {
                    text-align: center;
                    font-family: 'Work Sans', sans-serif;
                    color: #f0f5f5;
                    font-size: 2.5rem;
                    font-weight: 400;
                    position: absolute;
                }
                .dashed-circle {
                    width: 500px;
                    height: 500px;
                    position: relative;
                }
            }
            @media only screen and (max-width: 768px) {
                .btn-container {
                    width: 100%;
                    padding: 40px 20px;

                    .btn {
                        h3 {
                            font-size: 1.8rem;
                            margin: 0px;
                            margin-right: 20px;
                        }
                        img {
                            width: 48px;
                            height: 48px;
                        }
                    }
                    .btn-bot {
                        h3 {
                            margin: 0px;
                            margin-left: 20px;
                        }
                    }
                }
                .circle-container {
                    h3 {
                        font-size: 1.8rem;
                    }
                    .dashed-circle {
                        width: 350px;
                        height: 350px;
                    }
                }
            }
            @media only screen and (max-width: 400px) {
                justify-content: center;
                align-items: flex-start;

                .btn-container {
                    flex-direction: column;
                    margin: 0px;
                    padding: 0px;
                    
                    .btn {
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        width: 100%;
                        margin: 0px;
                        padding: 0px;
                        padding-left: 30px;
                        margin-bottom: 40px;

                        h3 {
                            margin: 0px;   
                            
                        }
                        img {
                            margin: 0px;
                            padding: 0px;
                            margin-right: 20px;
                        }
                    }

                    .btn-bot {
                        padding-left: 50px;
                    }
                }

                .container-bot {
                    padding-left: 40px;
                }
                .container-top {
                    margin-top: 150px;
                }
                .circle-container {
                    position: absolute;
                    width: auto;
                    top: 0%;
                    left: 0%;
                    h3 {
                        position: relative;
                        top: -10%;
                        left: 0%;
                        font-size: 2.8rem;
                        padding-left: 20px;
                        padding-top: 10px;
                        text-align: start;
                    }
                    .dashed-circle {
                        display: none;
                    }
                }
            }
        }
        .triangle2-container {
            min-height: 320px;
            width: 100%;
            background-color: #99d5c5;
            position: relative;

            img {
                margin-top: -3px;
                position: absolute;
                top: 0%;
                transform: rotate(180deg);
            }
            @media only screen and (max-width: 500px) {
                min-height: 200px;
            }
        }
        .team-container {
            width: 100%;
            min-height: 100vh;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #99d5c5;
            
            .txt1 {
                margin-top: 50px;
                width: 50%;
                margin-bottom: 50px;
                font-family: 'Space Mono', sans-serif;
                font-size: 3.2475rem;
                line-height: 1.125em;
                font-weight: 400;
            }
            .txt2 {
                width: 30%;
                font-family: 'Space Mono', sans-serif;
                font-weight: 400;
                margin-bottom: 100px;
            }

            .team {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 100px;

                .person {
                    margin-left: 70px;
                    text-align: center;

                    h2 {
                        margin-top: 1rem;
                        font-family: 'Space Mono', sans-serif;
                        font-size: 1.801875rem;
                        line-height: 1.125em;
                        font-weight: 700;
                    }
                    h4 {
                        margin-top: 0.5rem;
                        font-size: 1em;
                        line-height: 1.125em;
                        font-weight: 400;
                    }
                    img {
                        width: 177px;
                        height: 177px;
                    }
                    .img1 {
                        clip-path: polygon(8% 0%,100% 8%,95% 100%,0 94%);
                        transition-duration: 0.3s;
                    }
                    .img1:hover {
                        clip-path: polygon(0% 0,100% 0%,100% 100%,0 100%);
                    }
                    .img2 {
                        clip-path: polygon(0 6%,98% 0,100% 100%,0 98%);
                        transition-duration: 0.3s;
                    }
                    .img2:hover {
                        clip-path: polygon(0% 0,100% 0%,100% 100%,0 100%);
                    }
                    .img3 {
                        clip-path: polygon(8% 0%,100% 8%,95% 100%,0 94%);
                        transition-duration: 0.3s;
                    }
                    .img3:hover {
                        clip-path: polygon(0% 0,100% 0%,100% 100%,0 100%);
                    }
                }
            }

            .shape-left {
                height: 100%;
                position: absolute;
                left: 0%;
            }
            @media only screen and (max-width: 768px) {
                .txt1 {
                    font-size: 2.5rem;
                    width: 80%;
                }
                .txt2 {
                    width: 70%;
                }
                .team {
                    flex-direction: column;

                    .person {
                        margin-left: 0px;
                        margin-bottom: 50px;

                        img {
                            width: 280px;
                            height: 280px;
                        }
                    }
                }
                .shape-left {
                    display: none;
                }
            }
            @media only screen and (max-width: 400px) {
                .txt1 {
                    font-size: 1.5rem;
                }
                .team {

                    .person {
                        margin-left: 0px;
                        margin-bottom: 40px;

                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
        .wave-black {
            position: relative;
            background: url("https://uploads-ssl.webflow.com/5b7747d5976c9e858e07dc2e/5b7a1ef5334c839d2046988e_shape-wave-black.svg") no-repeat;
            background-size: contain;
            background-position: 100% 100%;
            height: 11vw;
            width: 100%;
            margin-bottom: -2px;
            background-color: #99d5c5;

            @media only screen and (max-width: 400px) {
                overflow: hidden;
                height: 30vw;
                background-position: 100% 100%;
                background-size: cover;
            }
        }
        .footer {
            padding: 50px 0px;
            width: 100%;
            background-color: #1a1a10;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #f0f5f5;
            margin-top: -2px;
            overflow-x: hidden;

            .container {
                max-width: 1000px;

                .top {
                    width: 100%;
                    display: flex;
    
                    .adress {
                        margin-right: 50px;
                        cursor: pointer;
                        transition-duration: 0.1s;
                    }
                    .adress:hover {
                        color: rgba(240, 245, 245, 0.7);
                    }
                    .mail {
                        margin-right: 100px;
                        cursor: pointer;
                        transition-duration: 0.1s;
                    }
                    .mail:hover {
                        color: rgba(240, 245, 245, 0.7);
                    }
                    .tel {
                        margin-right: 200px;
                        cursor: pointer;
                        transition-duration: 0.1s;
                    }
                    .tel:hover {
                        color: rgba(240, 245, 245, 0.7);
                    }
                    .media {
                        display: flex;
                        a {
                            margin-left: 20px;
                            img {
                                width: 24px;
                                height: 24px;
                                cursor: pointer;
                                transition-duration: 0.1s;
                            }
                            img:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
                .bot {
                    width: 100%;
                    margin-top: 30px;
                    text-align: end;
                    font-size: 0.9rem;
                    cursor: pointer;
                    transition-duration: 0.1s;
                }
                .bot:hover {
                    color: rgba(240, 245, 245, 0.7);
                }
                @media only screen and (max-width: 768px) {
                    
                    .top {
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        .adress {
                            margin: 0px;
                            margin-bottom: 20px;
                        }
                        .mail {
                            margin: 0px;
                            margin-bottom: 20px;
                        }
                        .tel {
                            margin: 0px;
                            margin-bottom: 20px;
                        }
                        .media {
                            flex-direction: row-reverse;

                            a {
                                margin: 0px;
                                margin-right: 20px;
                            }
                        }
                    }
                    .bot {
                        text-align: center;
                    }
                }
            }

            
        }
    }
}